# Google Sheets
SPREADSHEET_ID=seu_id_da_planilha_aqui
GOOGLE_SHEETS_CREDENTIALS_PATH=credentials.json

# Evolution API
EVOLUTION_API_URL=https://sua-api-evolution.com
EVOLUTION_API_KEY=sua_global_api_key_aqui
EVOLUTION_INSTANCE_NAME=nome_da_instancia
